<%- include("./includes/header.ejs") %> 
    <body id="grad1">
        <%- include("./includes/nav.ejs") %>

        <div class="container hero-margin">
            <div class="row align-items-center">
                <div class="col" align="center">
                    <h1 class="text-primary">
                        Welcome to the Online Simulation Platform for Your 4diac-based Blinking-LED Control Applications!
                    </h1>
                </div>
            </div>
        </div>

        <hr class="rounded">

        <div class="container my-5">
            <div class="row justify-content-md-center align-items-center">
                <div class="col">
                    <form action="" id="userForm">
                        <div class="mb-3">
                            <label for="username" class="form-label"
                                >Input Your Username Here!</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="userInput"
                                name="username"
                            />
                        </div>
                        <button class="btn btn-primary">
                            Submit
                        </button>
                    </form>
                </div>
                <div class="col" align="center">
                    <h1>Username: </h1>
                    <h1 id="username"></h1>
                </div>
                <div class="col" align="center">
                    <h1 id="result">To be replaced</h1>
                </div>
                
            </div>
        </div>

        <hr class="rounded">

        <div class="container my-5">
            <div class="row justify-content-md-center align-items-center">
                <div class="col" align="left">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Instruction 1</div>
                        <div class="card-body">
                          <h5 class="card-title">Container Creation</h5>
                          <p class="card-text">
                              Input your docker command to create the Forte containers that you created via docker images.
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <form action="/" method="post">
                        <div class="mb-5">
                            <label for="dockerCommand" class="form-label"
                                >Docker Image</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="dockerCommand"
                                name="image"
                            />
                            <label for="port" class="form-label"
                                >Port</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="port"
                                name="port"
                            />
                            <label for="name" class="form-label"
                                >Container Name</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                            />
                            <label for="node-name" class="form-label"
                                >Computing Node Name</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="node-name"
                                name="node"
                            />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                    </form>
                </div>
      
                <div class="col" >
                    <!-- <div class="ex1">
                        <p id="containerList" class="terminal">
                            Current Running Containers heihei:
                        </p>
                    </div> -->
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Image</th>
                            <th scope="col">Node</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < containerList.length; i++) {%>
                                <tr>
                                    <th scope="row"> <%= i+1 %> </th>
                                    <td> <%= containerList[i].Name %> </td>
                                    <td> <%= containerList[i].Image %> </td>
                                    <td> <%= containerList[i].Node %> </td>
                                </tr>
                            <% } %>  
                        </tbody>
                      </table>
                </div>

            </div>
        </div>

        <hr class="rounded">

        <div class="container-sm my-5">
            <div class="row justify-content-md-center align-items-center">
                <div class="col" align="left">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Instruction 2</div>
                        <div class="card-body">
                          <h5 class="card-title">Virtual LED and Button</h5>
                          <p class="card-text">
                              The button can be clicked to control the LED to start and stop. When the LED works, its color 
                              will turn to red.
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col" align="center">
                    <button
                    type="button"
                    class="btn btn-primary"
                    onclick="sendMessage()">
                        Button
                    </button>
                    <p>Use the button to start and stop the LED</p>
                </div>
                <div class="col" align="center">
                    <img id="led-image" src="images/led-off.jpg" alt="LED Off" width="300">
                </div>
            </div>
        </div>

        <!-- <hr class="rounded">

        <div class="container">
            <div class="row justify-content-md-center align-items-center">
                <div class="col">
                    <div class="ex1">
                        <p id="containerList" class="terminal">
                            Current Running Containers: <%= containerList %> 
                        </p>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
        </div> -->

        <%- include("./includes/footer.ejs") %> 

        <script src="home.js">
        </script>
    </body>
</html>
