<%- include("./includes/header.ejs") %> 
    <body id="grad1">
        <%- include("./includes/nav.ejs") %>

        <div class="container hero-margin">
            <div class="row align-items-center">
                <div class="col" align="center">
                    <h1 class="text-primary">
                        Welcome to the Online Simulation Platform for Your 4diac-based Blinking-LED Control Applications!
                    </h1>
                </div>
            </div>
        </div>

        <hr class="rounded">

        <div class="container my-5">
            <div class="row justify-content-md-center align-items-center">
                <div class="col">
                    <form action="" id="userForm">
                        <div class="mb-3">
                            <label for="username" class="form-label"
                                >Input Your Username Here!</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="userInput"
                                name="username"
                            />
                        </div>
                        <button class="btn btn-primary">
                            Submit
                        </button>
                    </form>
                </div>
                <div class="col">
                    <h1>Username: </h1>
                    <h1 id="username"></h1>
                </div>
                <div class="col">
                    <h1 id="result">To be replaced</h1>
                </div>
                
            </div>
        </div>

        <hr class="rounded">

        <div class="container-sm my-5">
            <div class="row justify-content-md-center align-items-center">
                <div class="col" align="left">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Instruction 1</div>
                        <div class="card-body">
                          <h5 class="card-title">Virtual LED and Button</h5>
                          <p class="card-text">
                              The button can be clicked to control the LED to start and stop. When the LED works, its color 
                              will turn to red.
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col" align="center">
                    <button
                    type="button"
                    class="btn btn-primary"
                    onclick="sendMessage()">
                        Button
                    </button>
                    <p>Use the button to start and stop the LED</p>
                </div>
                <div class="col" align="center">
                    <span class="led" id="led"></span>
                    <p>Virtual LED</p>
                </div>
            </div>
        </div>

        <hr class="rounded">

        <div class="container my-5">
            <div class="row justify-content-md-center align-items-center">
                <div class="col" align="left">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Instruction 2</div>
                        <div class="card-body">
                          <h5 class="card-title">Container Creation</h5>
                          <p class="card-text">
                              Input your docker command to create the Forte containers that you created via docker images.
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col">
                    <form action="/" method="post">
                        <div class="mb-3">
                            <label for="dockerCommand" class="form-label"
                                >Docker Command</label
                            >
                            <input
                                type="text"
                                class="form-control"
                                id="dockerCommand"
                                name="cmd"
                            />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Create
                        </button>
                    </form>
                </div>
                <div class="col">
        
                    <div class="ex1">
                        <p id="terminalLog" class="terminal">
                            Terminal Log: <%= terminalLog %> 
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <hr class="rounded">

        <div class="container">
            <div class="row justify-content-md-center align-items-center">
                <div class="col">

                </div>
                <div class="col">
                    <div class="ex1">
                        <p id="containerList" class="terminal">
                            Current Running Containers: <%= containerList %> 
                        </p>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
        </div>

        <%- include("./includes/footer.ejs") %> 

        <script>
            const socket = io("http://35.228.36.148/");
            // const socket = io("http://localhost:3000");
            socket.on("connection");

            let result = document.getElementById("result");
            let user = "";

            socket.on("led", (data) => {
                if (data == 1) {
                    document.getElementById("led").style.backgroundColor =
                        "red";
                }
                if (data == 0) {
                    document.getElementById("led").style.backgroundColor =
                        "grey";
                }
            });
            let message = 0;
            const sendMessage = () => {
                message = (message + 1) % 2;
                socket.emit("button", user, message);
            };

            //=================test===================
            userForm.addEventListener("submit", function (e) {
                e.preventDefault();
                if (userInput.value) {
                    user = userInput.value;
                    document.getElementById("username").innerHTML = user;
                    socket.on("led" + user, function (msg) {
                        result.innerHTML = msg;
                    });
                    userInput.value = "";
                }
            });
        </script>
    </body>
</html>
